* {
  margin: 0px;
  padding: 0px; }

.Animacion {
  width: 100%;
  height: 2px;
  background-color: var(--bs-body-color);
  animation-name: un_efecto;
  animation-iteration-count: unset;
  animation-timing-function: ease-in;
  animation-duration: 2s; }

@keyframes un_efecto {
  0% {
    width: 0%;
    background-color: yellow; }
  100% {
    width: 100%;
    background-color: yellow; } }

.Title{
  text-align: center;
  color: white;
  margin-top: 100px;
  animation-name: efectoTitle;
  animation-iteration-count: unset;
  animation-timing-function: ease-in;
  animation-duration: 1s}

@keyframes efectoTitle{
 0% {
   transform: translateY(-75px);
   opacity: 0%;
  }
 100%{
   opacity: 100%;
  }}

body {
  background-color: #313131; }

p {
  text-align: center;
  color: white;
  padding-bottom: 20%;
  width: 100%;
  height: 100%; }

ul {
  list-style-type: none; }
