body {
  background-color: #313131;
  text-align: center; }

@keyframes un_efecto {
  0% {
    width: 0%;
    background-color: yellow; }
  100% {
    width: 100%;
    background-color: yellow; } }

.Animacion {
  width: 100%;
  height: 2px;
  background-color: var(--bs-body-color);
  animation-name: un_efecto;
  animation-iteration-count: unset;
  animation-timing-function: ease-in;
  animation-duration: 2s; }

  .Title{
    text-align: center;
    color: white;
    margin-top: 100px;
    animation-name: efectoTitle;
    animation-iteration-count: unset;
    animation-timing-function: ease-in;
    animation-duration: 1s}
  
  @keyframes efectoTitle{
   0% {
     transform: translateY(-75px);
     opacity: 0%;
    }
   100%{
     opacity: 100%;
    }}

/* h1 {
  text-align: center;
  margin-top: 80px;
  border: 5px var(--bs-body-color) solid;
  border-radius: 7px;
  width: 300px;
  margin-left: auto;
  margin-right: auto; } */

.CardInformation1 {
  height: 300px;
  width: 1600px;
  background-image: linear-gradient(to left, var(--bs-body-color), grey);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transition:all 1s;
}

.CardInformation1:hover {
  height: 330px;
  width: 1900px; }

.CardInformation1__Title {
  text-align: justify;
  padding-left: 50px; }

.CardIndormation1__Contenido {
  font-size: 22px;
  width: 1550px;
  padding-left: 100px;
  text-align: justify;
  transition: font-size; }


.CardInformation2 {
  height: 300px;
  width: 1600px;
  background-image: linear-gradient(to right, var(--bs-body-color), grey);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transition:all 1s;
}

.CardInformation2:hover {
  height: 330px;
  width: 1900px; }

.CardInformation2__Title {
  text-align: justify;
  padding-left: 50px; }

.CardIndormation2__Contenido {
  font-size: 22px;
  width: 1550px;
  padding-left: 100px;
  text-align: justify;
  transition: font-size 3; }

  @media (max-width: 1200px){
    .CardInformation1{
      width: 1000px;
      height: 200px;
      transition:all 1s;
    }

    .CardIndormation1__Contenido{
      width: 900px;
      font-size: 14px;
    }

    .CardInformation1:hover{
      height: 220px;
      width: 1100px;
    }

    .CardInformation2{
      width: 1000px;
      height: 200px;
      transition:all 1s;
    }

    .CardIndormation2__Contenido{
      width: 900px;
      font-size: 14px;
    }

    .CardInformation2:hover{
      height: 220px;
      width: 1100px;
    }
  }

  @media (max-width: 992px){
    .CardInformation1{
      width: 650px;
      height: 250px;
      transition:all 1s;
    }

    .CardIndormation1__Contenido{
      width: 600px;
      font-size: 12px;
    }

    .CardInformation1:hover{
      height: 275px;
      width: 715px;
    }

    .CardInformation2{
      width: 650px;
      height: 250px;
      transition:all 1s;
    }

    .CardIndormation2__Contenido{
      width: 600px;
      font-size: 12px;
    }

    .CardInformation2:hover{
      height: 275px;
      width: 715px;
    }
  }

  @media (max-width: 675px){
    .CardInformation1{
      width: 550px;
      height: 300px;
      transition:all 1s;
    }

    .CardIndormation1__Contenido{
      width: 510px;
      font-size: 13px;
    }

    .CardInformation1:hover{
      height: 330px;
      width: 610px;
    }

    .CardInformation2{
      width: 550px;
      height: 300px;
      transition:all 1s;
    }

    .CardIndormation2__Contenido{
      width: 510px;
      font-size: 13px;
    }

    .CardInformation2:hover{
      height: 330px;
      width: 610px;
    }
  }

  @media (max-width: 557px){
    .CardInformation1{
      width: 470px;
      height: 300px;
      transition:all 1s;
    }

    .CardIndormation1__Contenido{
      width: 440px;
      font-size: 12px;
    }

    .CardInformation1:hover{
      height: 320px;
      width: 500px;
    }

    .CardInformation2{
      width: 470px;
      height: 300px;
      transition:all 1s;
    }

    .CardIndormation2__Contenido{
      width: 440px;
      font-size: 12px;
    }

    .CardInformation2:hover{
      height: 320px;
      width: 500px;
    }
  }

ul {
  list-style-type: none; }
