body {
  background-color: #313131;
  height: 100vh;
  background-size: cover; }

.btn {
  width: 250px; }

  @media (max-width: 767px){ 
    .btn{ 
    width: 450px;}}
  
    @media (max-width: 576px){ 
      .btn{ 
      width: 360px;
  }}
  
  @media (max-width: 417px){ 
    .btn{ 
    width: 340px;
  }}

@keyframes un_efecto {
  0% {
    width: 0%;
    background-color: yellow; }
  100% {
    width: 100%;
    background-color: yellow; } }

.Animacion {
  width: 100%;
  height: 2px;
  background-color: var(--bs-body-color);
  animation-name: un_efecto;
  animation-iteration-count: unset;
  animation-timing-function: ease-in;
  animation-duration: 2s; }

h1 {
  text-align: center;
  margin-top: 80px;
  border: 5px var(--bs-body-color) solid;
  border-radius: 7px;
  width: 300px;
  margin-left: auto;
  margin-right: auto; }

ul {
  list-style-type: none; }
